@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 82px;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font-family: "Manrope", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
}